.about-me {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center; 
  background: radial-gradient(circle, #5aa5c3, #0c6881, #072451);
  background-size: 300% 300%;
  animation: cornerMotion 10s linear infinite;
  overflow: hidden;
}

@keyframes cornerMotion {
  0% {
    background-position: top left;
  }
  25% {
    background-position: top right;
  }
  50% {
    background-position: bottom right;
  }
  75% {
    background-position: bottom left;
  }
  100% {
    background-position: top left;
  }
}